@import "tailwindcss";
@plugin "daisyui";

.inProgress_Resolve {
  @apply text-center flex flex-col justify-center text-white;
}

.box_style {
  @apply rounded-sm min-h-70 w-full flex justify-between relative overflow-hidden;
}

.box_bg_image1_style {
  @apply h-full absolute left-0 top-0 object-cover;
}
.box_bg_image2_style {
  @apply h-full absolute right-0 top-0 object-cover;
}

.loader {
  border: 4px solid #035703;
  border-top: 4px solid #d1cb0e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box1-bg-linearColor {
  background-image: linear-gradient(to right, #6b21a8fc, #c084fcc4);
}
.box2-bg-linearColor {
  background-image: linear-gradient(to right, #68d779fc, #0f6d17c4);
}
